body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.4em;
}


.header{
    padding-top: 60px;
}
.container{
    width: 1110px;
    margin: 0 auto;
}

p{
    margin: 0;
    line-height: 1.37em;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    text-align: center;
}

section{
    padding-top: 120px;
}

.offer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 79px;
}

.offer{
    width: 465px;
}

.introtext{
    font-size: 18px;
    margin: 30px;
}

.btn1{
    border-radius: 100px;
    background: rgb(117, 187, 12); 
    color: #fff;
    display: block;
    padding: 22px 70px;
    align-items: flex-start;
    text-decoration: none;
    font-size: 18px;
    width: 218px;
    transition: all 0.5s ease;
}

.btn1:hover{
    background: #1fca0f;
}

.btn{ 
    border-radius: 100px;
    background: #FF6861;
    color: white;
    display: block;
    padding: 22px 70px;
    align-items: flex-start;
    text-decoration: none;
    font-size: 18px;
    width: 218px;
    transition: all 0.5s ease;
}

.btn:hover{
    background: #c9372f;
}


.buttens-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 0 auto;
    display: block;
}

.all_info{
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 720px;
    margin: 70px auto 0 auto;
}

.digit-item{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.digit{
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    border: 1px solid #000;
    display: flex;
    width: 77px;
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
}

.digit-title{
    font-size: 30px;
}

.digit-text{
    
}

